<% if (success) { %>
  <div class="ui success message" id="success" hidden="" style="display: block">
    <%= success %>
  </div>
  <% } %>
    <% if (error) { %>
      <div class="ui error message" id="error" hidden="" style="display: block">
        <%= error %>
      </div>
      <% } %>