<%- include('components/head') %>

    <body style="position: relative; margin-top: 49px; height: calc(100% - 49px); overflow-y: overlay; ">
        <%- include('components/nav') %>

            <div style="margin-top: 28px; ">
                <div class="ui main container">

                    <%- include('components/notification') %>
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde@latest/dist/easymde.min.css">
                        <script src="https://cdn.jsdelivr.net/npm/easymde@latest/dist/easymde.min.js"></script>
                        <div class="ui form">

                            <div class="field">
                                <label>Edit</label>
                                <textarea></textarea>
                            </div>
                            <script>
                                var easyMDE = new EasyMDE({
                                    
                                    inputStyle: "contenteditable",
                                });
                                easyMDE.value(`<%= article %>`);
                            </script>

                        </div>
                </div>
            </div>
    </body>